includes:
    - phpstan-baseline.neon

parameters:
    level: 6
    paths:
        - ../../Classes/
        - ../../Configuration/

    ignoreErrors:
        -  identifier: missingType.iterableValue
    reportUnmatchedIgnoredErrors: true
    typo3:
        requestGetAttributeMapping:
            frontend.page.information: \TYPO3\CMS\Frontend\Page\PageInformation
