includes:
    - phpstan-baseline.neon

parameters:
    level: 6
    paths:
        - ../../Classes/
        - ../../Configuration/

    ignoreErrors:
        -  identifier: missingType.iterableValue
    reportUnmatchedIgnoredErrors: true
