<f:layout name="SystemEmail" />
<f:section name="Title">
    <f:translate key="changePasswordCode.email.title" extensionName="fe_change_pwd" />
</f:section>
<f:section name="Subject">
    <f:translate key="changePasswordCode.email.subject" extensionName="fe_change_pwd" />
</f:section>
<f:section name="Main">
    <f:translate key="changePasswordCode.email.introduction" extensionName="fe_change_pwd" />
    <p><f:translate key="changePasswordCode.email.code" extensionName="fe_change_pwd" />: <strong>{changePasswordCode}</strong></p>
    <p><f:translate key="changePasswordCode.email.validUntil" extensionName="fe_change_pwd" />: {validUntil -> f:format.date(format: 'd.m.Y H:i:s')}</p>
    <f:translate key="changePasswordCode.email.notice" extensionName="fe_change_pwd" />
</f:section>