name: Tests

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-22.04
    strategy:
      matrix:
        typo3: ['^12.4']
        php: ['8.1', '8.2']

    steps:
      - uses: actions/checkout@v3

      - name: Set up PHP Version
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: mbstring, xml
          tools: composer

      - name: Validate composer.json and composer.lock
        run: composer validate

      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: ~/.composer/cache
          key: dependencies-composer-${{ hashFiles('composer.json') }}

      - name: Install dependencies
        run: |
          cd .Build
          composer require typo3/cms-core:${{ matrix.typo3 }} --no-progress
          git checkout composer.json

      - name: Unit Tests
        run: .Build/vendor/bin/phpunit --colors -c .Build/phpunit/UnitTests.xml
